<select id="selectBuildingMapData" resultType="java.util.Map">
    SELECT
    h.id,
    h.room_no as roomNo,
    h.status,
    h.area,
    u.unit_no as unitNo,
    CAST(LEFT(h.room_no, LEN(h.room_no) - 2) AS INT) as floorNum
    FROM community_house h
    JOIN community_unit u ON h.unit_id = u.id
    JOIN community_building b ON u.building_id = b.id
    WHERE b.id = #{buildingId}
    ORDER BY floorNum DESC, u.unit_no, h.room_no
</select>
